
/* line 15 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/catalyst.styl */

/* line 1 : /home/colin/node_modules/stylus/lib/functions/index.styl */

/* line 287 : /home/colin/node_modules/stylus/lib/functions/index.styl */

/* line 3 : /home/colin/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /home/colin/node_modules/nib/lib/nib/reset.styl */

/* line 3 : /home/colin/node_modules/nib/lib/nib/positions.styl */

/* line 67 : /home/colin/node_modules/nib/lib/nib/positions.styl */

/* line undefined : /home/colin/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /home/colin/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /home/colin/node_modules/nib/lib/nib/config.styl */

/* line 78 : /home/colin/node_modules/nib/lib/nib/config.styl */

/* line 2 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */

/* line 78 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */

/* line 1 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/fonts.styl */
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700");
@import url("//fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700");
@import url("//fonts.googleapis.com/css?family=Lora:400,700");
@font-face {
  font-family: 'FontAwesome';
  src: url("fontawesome/fontawesome-webfont.woff?v=4.1.0") format('woff'), url("fontawesome/fontawesome-webfont.ttf?v=4.1.0") format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* line 17 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/fonts.styl */

/* line 17 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */

/* line 1 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon:before {
  font-family: FontAwesome;
}

/* line 5 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon-inherited:before {
  content: "\f08e";
}

/* line 9 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon-experimental:before {
  content: "\f0c3";
}

/* line 13 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon-protected:before {
  content: "\f132";
}

/* line 17 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon-deprecated:before {
  content: "\f088";
}

/* line 11 : /home/colin/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /home/colin/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /home/colin/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /home/colin/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /home/colin/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /home/colin/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 20 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */

/* line 20 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */

/* line 1 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */
html,
body {
  background: #f8f8f8;
  color: #000;
  font: 14px/1.3 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* line 10 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */
p {
  -webkit-font-feature-settings: 'kern' on;
}

/* line 14 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */
.vh {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/* line 23 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */
.mainHeader {
  background: #2c353c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  line-height: 55px;
}

/* line 29 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */
.mainHeader .projectName {
  color: #fff;
  display: inline-block;
  font-family: 'Lora', serif;
  font-size: 1.7em;
  font-weight: 400;
  padding: 0 0.5em;
  text-decoration: none;
}

/* line 38 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */
.mainHeader .projectName:hover {
  color: #fff;
}

/* line 43 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */
.mainHeader .projectLogo {
  max-width: 192px;
  vertical-align: -20%;
}

/* line 49 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */
.mainContent {
  bottom: 0;
  position: fixed;
  top: 55px;
  left: 241px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  right: 0;
}

/* line 56 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/base.styl */

/* line 56 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */

/* line 4 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */

/* line 5 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
.prettyprint .pln {
  color: #4d4d4c;
}
@media screen {

/* line 11 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .str {
    color: #718c00;
  }

/* line 16 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .kwd {
    color: #8959a8;
  }

/* line 21 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .com {
    color: #8e908c;
  }

/* line 26 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .typ {
    color: #4271ae;
  }

/* line 31 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .lit {
    color: #f5871f;
  }

/* line 36 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .pun {
    color: #4d4d4c;
  }

/* line 41 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .opn {
    color: #4d4d4c;
  }

/* line 46 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .clo {
    color: #4d4d4c;
  }

/* line 51 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .tag {
    color: #c82829;
  }

/* line 56 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .atn {
    color: #f5871f;
  }

/* line 61 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .atv {
    color: #3e999f;
  }

/* line 66 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .dec {
    color: #f5871f;
  }

/* line 71 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .var {
    color: #c82829;
  }

/* line 76 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .fun {
    color: #4271ae;
  }
}
@media print, projection {

/* line 82 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .str {
    color: #060;
  }

/* line 86 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .kwd {
    color: #006;
    font-weight: bold;
  }

/* line 91 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .com {
    color: #600;
    font-style: italic;
  }

/* line 96 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .typ {
    color: #404;
    font-weight: bold;
  }

/* line 101 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .lit {
    color: #044;
  }

/* line 105 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .pun,
  .prettyprint .opn,
  .prettyprint .clo {
    color: #440;
  }

/* line 111 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .tag {
    color: #006;
    font-weight: bold;
  }

/* line 116 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .atn {
    color: #404;
  }

/* line 120 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
  .prettyprint .atv {
    color: #060;
  }
}

/* line 126 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */
.prettyprint ol.linenums {
  margin-bottom: 0;
  margin-top: 0;
}

/* line 131 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/prettify.styl */

/* line 62 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */

/* line 17 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */

/* line 17 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */

/* line 1 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon:before {
  font-family: FontAwesome;
}

/* line 5 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon-inherited:before {
  content: "\f08e";
}

/* line 9 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon-experimental:before {
  content: "\f0c3";
}

/* line 13 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon-protected:before {
  content: "\f132";
}

/* line 17 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */
.icon-deprecated:before {
  content: "\f088";
}

/* line 3 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu {
  background: #fff;
  border-right: 1px solid #ddd;
  bottom: 0;
  position: fixed;
  top: 55px;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 240px;
}

/* line 58 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainMenu a {
  color: #146b93;
}

/* line 61 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainMenu a:hover {
  color: #1c97cf;
}

/* line 65 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainMenu a:visited {
  color: #126084;
}

/* line 68 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainMenu a:visited:hover {
  color: #1b8ec3;
}

/* line 73 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainMenu a:active {
  color: #1881b1;
}

/* line 14 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu a {
  display: block;
  text-decoration: none;
}

/* line 19 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu .subsection-title {
  background: #fff;
  border-left: 3px solid #fff;
  color: #333;
  font: 1.1em/1.3 'Open Sans', sans-serif;
  margin: 0.25em;
  padding: 0.4em;
  text-transform: capitalize;
}

/* line 28 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu .subsection-title.modules {
  background: none;
  border: 0;
  margin: 0;
  padding: 1em 1em 0 1em;
}

/* line 35 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu .subsection-title.events {
  background: #e0d9ee;
  border-color: #684aa0;
}

/* line 40 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu .subsection-title.index {
  margin: 0.5em 0;
}

/* line 44 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu .subsection-title.properties {
  background: #d9f2f3;
  border-color: #41bdc5;
}

/* line 49 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu .subsection-title.methods {
  background: #d9e8f3;
  border-color: #418cc5;
}

/* line 54 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu .subsection-title.typedefs {
  background: #f5e2ef;
  border-color: #cb6faf;
}

/* line 59 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu .subsection-title.classes {
  background: #ecf5e2;
  border-color: #9ecb6f;
}

/* line 65 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu .modulesContainer {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.25em;
}

/* line 71 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul {
  list-style-type: none;
  margin: 0.25em;
  padding: 0 0 0.25em 0;
}

/* line 76 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */

/* line 77 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul.modules li:hover {
  background: #ececec;
}

/* line 82 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */

/* line 83 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul.events li:hover {
  background: #f0ecf6;
}

/* line 88 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */

/* line 89 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul.properties li:hover {
  background: #ecf8f9;
}

/* line 94 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */

/* line 95 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul.methods li:hover {
  background: #ecf4f9;
}

/* line 100 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */

/* line 101 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul.typedefs li:hover {
  background: #faf1f7;
}

/* line 106 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */

/* line 107 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul.classes li:hover {
  background: #f5faf1;
}

/* line 112 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul li {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -ms-transition: background 0.3s;
  transition: background 0.3s;
}

/* line 115 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul li a {
  padding: 0.35em 1em 0.35em 1.9em;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 121 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul li a:hover {
  color: #1c97cf;
}

/* line 126 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul li.active {
  background: #ddd;
}

/* line 130 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul li .icon:before {
  color: #b0bec5;
  display: inline-block;
  font-size: 0.7em;
  width: 16px;
}

/* line 137 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul li.icons-1 {
  margin-left: -16px;
}

/* line 141 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/navigation.styl */
.mainMenu ul li.icons-2 {
  margin-left: -32px;
}

/* line 11 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/icons.styl */

/* line 11 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 1 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.persistentTitle,
.doc-source .title {
  background: #3d4a53;
  color: #fff;
  font: 1.3em/55px 'Lora', serif;
  position: fixed;
  top: 0;
  left: 240px;
  height: 55px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  padding: 0 0 0 3em;
  padding-left: calc((3em / 1.3) + 3px);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  right: 0;
  z-index: 1;
}

/* line 14 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.persistentTitle.hidden,
.doc-source .title.hidden {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

/* line 19 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.persistentTitle a,
.doc-source .title a,
.persistentTitle a:hover,
.doc-source .title a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 25 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent {
  line-height: 1.6;
}

/* line 58 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent a {
  color: #146b93;
}

/* line 61 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent a:hover {
  color: #1c97cf;
}

/* line 65 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent a:visited {
  color: #126084;
}

/* line 68 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent a:visited:hover {
  color: #1b8ec3;
}

/* line 73 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent a:active {
  color: #1881b1;
}

/* line 30 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent em {
  font-style: italic;
}

/* line 34 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent strong {
  font-weight: bold;
}

/* line 38 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent code {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.05em;
}

/* line 43 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent table {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  margin-bottom: 1em;
}

/* line 49 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent table tbody .name,
.mainContent table code {
  color: #531da1;
  font-family: 'Source Code Pro', monospace;
  font-size: 100%;
  font-weight: 600;
}

/* line 58 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent table tbody .name a,
.mainContent table code a {
  color: #531da1;
}

/* line 61 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent table tbody .name a:hover,
.mainContent table code a:hover {
  color: #6f27d7;
}

/* line 65 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent table tbody .name a:visited,
.mainContent table code a:visited {
  color: #4b1a91;
}

/* line 68 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent table tbody .name a:visited:hover,
.mainContent table code a:visited:hover {
  color: #6924ca;
}

/* line 73 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.mainContent table tbody .name a:active,
.mainContent table code a:active {
  color: #6122bc;
}

/* line 60 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent table td,
.mainContent table th {
  border: 1px solid #ddd;
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 4px 6px;
  display: table-cell;
}

/* line 68 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 69 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent table td .description > p:first-child,
.mainContent table th .description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

/* line 74 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent table td .description > p:last-child,
.mainContent table th .description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 81 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent table th {
  border-right: 1px solid #aaa;
}

/* line 85 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 86 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent table thead tr {
  background-color: #ddd;
  font-weight: bold;
}

/* line 91 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent table thead th:last-child,
.mainContent table thead td:last-child {
  border-right: 1px solid #ddd;
}

/* line 98 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent table .mainContent table thead tr {
  background-color: #fff;
  font-weight: bold;
}

/* line 104 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent .prettyprint {
  background: #f2f2f2;
  border: 1px solid #ddd;
  margin: 0 0 1.5em 0;
  overflow: auto;
  padding: 4px 12px;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

/* line 112 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent .prettyprint.linenums {
  padding-left: 4em;
}

/* line 115 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent .prettyprint.linenums ol {
  list-style: decimal;
}

/* line 119 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent .prettyprint.linenums li {
  border-left: 3px #ddd solid;
  padding-left: 12px;
}

/* line 123 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent .prettyprint.linenums li.selected,
.mainContent .prettyprint.linenums li.selected * {
  background-color: #ffffe0;
}

/* line 130 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent .prettyprint code {
  display: block;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
}

/* line 136 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent .prettyprint code span.line {
  display: inline-block;
}

/* line 141 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.mainContent .prettyprint code:after {
  content: ' ';
}

/* line 148 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-source {
  overflow: visible;
}

/* line 151 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 155 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-source .prettyprint {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  margin: 0;
  overflow: auto;
}

/* line 163 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 165 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .header,
.doc-globalobj .header {
  font: 165% 'Lora', serif;
  margin-bottom: 1em;
}

/* line 170 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .memberInfo,
.doc-globalobj .memberInfo {
  margin-left: 1em;
}

/* line 174 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 177 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .description p,
.doc-globalobj .description p,
.doc-module .description ul,
.doc-globalobj .description ul,
.doc-module .description ol,
.doc-globalobj .description ol {
  margin: 1.5em 3em 1.5em 0;
}

/* line 182 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .description ul,
.doc-globalobj .description ul,
.doc-module .description ol,
.doc-globalobj .description ol {
  margin-left: 2em;
}

/* line 186 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .description ol,
.doc-globalobj .description ol {
  list-style: decimal;
}

/* line 190 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .description ul,
.doc-globalobj .description ul {
  list-style: disc;
}

/* line 195 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section,
.doc-globalobj .section {
  background: #fff;
  border: 3px solid #f1f1f1;
  padding: 1.5em;
  margin: 1.5em;
}

/* line 201 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section > .description,
.doc-globalobj .section > .description {
  margin: 1em 0 1.25em;
}

/* line 205 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section .type-signature,
.doc-globalobj .section .type-signature {
  color: #b41377;
}

/* line 58 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .type-signature a,
.doc-globalobj .section .type-signature a {
  color: #b41377;
}

/* line 61 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .type-signature a:hover,
.doc-globalobj .section .type-signature a:hover {
  color: #e71e9b;
}

/* line 65 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .type-signature a:visited,
.doc-globalobj .section .type-signature a:visited {
  color: #a2116b;
}

/* line 68 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .type-signature a:visited:hover,
.doc-globalobj .section .type-signature a:visited:hover {
  color: #de1793;
}

/* line 73 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .type-signature a:active,
.doc-globalobj .section .type-signature a:active {
  color: #d0168a;
}

/* line 211 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section .memberName,
.doc-globalobj .section .memberName {
  background: #f2f2f2;
  border-left: 4px solid #41bdc5;
  color: #2c353c;
  font-family: 'Source Code Pro', monospace;
  font-size: 105%;
  font-weight: 600;
  margin: 2em 0 0;
  padding: 0.4em 0.6em;
}

/* line 222 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section.overview .memberName,
.doc-globalobj .section.overview .memberName {
  background: #2c353c;
  border-left-color: #f87622;
  color: #fff;
}

/* line 227 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section.overview .memberName a,
.doc-globalobj .section.overview .memberName a {
  color: #59bbe8;
}

/* line 231 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section.overview .memberName .type-signature,
.doc-globalobj .section.overview .memberName .type-signature {
  color: #ec48ae;
}

/* line 58 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section.overview .memberName .type-signature a,
.doc-globalobj .section.overview .memberName .type-signature a {
  color: #ec48ae;
}

/* line 61 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section.overview .memberName .type-signature a:hover,
.doc-globalobj .section.overview .memberName .type-signature a:hover {
  color: #f06dbe;
}

/* line 65 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section.overview .memberName .type-signature a:visited,
.doc-globalobj .section.overview .memberName .type-signature a:visited {
  color: #e92ca2;
}

/* line 68 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section.overview .memberName .type-signature a:visited:hover,
.doc-globalobj .section.overview .memberName .type-signature a:visited:hover {
  color: #ed56b5;
}

/* line 73 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section.overview .memberName .type-signature a:active,
.doc-globalobj .section.overview .memberName .type-signature a:active {
  color: #ee5ab6;
}

/* line 238 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section.events .memberName,
.doc-globalobj .section.events .memberName {
  border-left-color: #684aa0;
}

/* line 242 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section.methods .memberName,
.doc-globalobj .section.methods .memberName {
  border-left-color: #418cc5;
}

/* line 246 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section.properties .memberName,
.doc-globalobj .section.properties .memberName {
  border-left-color: $membersColor;
}

/* line 250 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section.typedefs .memberName,
.doc-globalobj .section.typedefs .memberName {
  border-left-color: #cb6faf;
}

/* line 254 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .section .param-type,
.doc-globalobj .section .param-type {
  color: #b41377;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  margin-left: 0;
}

/* line 58 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .param-type a,
.doc-globalobj .section .param-type a {
  color: #b41377;
}

/* line 61 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .param-type a:hover,
.doc-globalobj .section .param-type a:hover {
  color: #e71e9b;
}

/* line 65 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .param-type a:visited,
.doc-globalobj .section .param-type a:visited {
  color: #a2116b;
}

/* line 68 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .param-type a:visited:hover,
.doc-globalobj .section .param-type a:visited:hover {
  color: #de1793;
}

/* line 73 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/variables.styl */
.doc-module .section .param-type a:active,
.doc-globalobj .section .param-type a:active {
  color: #d0168a;
}

/* line 264 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .summary,
.doc-globalobj .summary {
  margin-top: 1.5em;
}

/* line 267 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .summary .header,
.doc-globalobj .summary .header {
  font-size: 130%;
}

/* line 271 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .summary table,
.doc-globalobj .summary table {
  width: 100%;
  margin-bottom: 0;
}

/* line 276 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .summary p,
.doc-globalobj .summary p {
  margin: 0;
}

/* line 281 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 282 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .classInfo .superclasses,
.doc-globalobj .classInfo .superclasses,
.doc-module .classInfo .subclasses,
.doc-globalobj .classInfo .subclasses,
.doc-module .classInfo .mixins,
.doc-globalobj .classInfo .mixins {
  display: table-row;
}

/* line 287 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .classInfo .superclasses h2,
.doc-globalobj .classInfo .superclasses h2,
.doc-module .classInfo .subclasses h2,
.doc-globalobj .classInfo .subclasses h2,
.doc-module .classInfo .mixins h2,
.doc-globalobj .classInfo .mixins h2 {
  display: table-cell;
  font-weight: bold;
  padding-right: 0.3em;
}

/* line 292 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .classInfo .superclasses h2:after,
.doc-globalobj .classInfo .superclasses h2:after,
.doc-module .classInfo .subclasses h2:after,
.doc-globalobj .classInfo .subclasses h2:after,
.doc-module .classInfo .mixins h2:after,
.doc-globalobj .classInfo .mixins h2:after {
  content: ': ';
}

/* line 298 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .classInfo .superclasses ol,
.doc-globalobj .classInfo .superclasses ol,
.doc-module .classInfo .subclasses ol,
.doc-globalobj .classInfo .subclasses ol,
.doc-module .classInfo .mixins ol,
.doc-globalobj .classInfo .mixins ol,
.doc-module .classInfo .superclasses ul,
.doc-globalobj .classInfo .superclasses ul,
.doc-module .classInfo .subclasses ul,
.doc-globalobj .classInfo .subclasses ul,
.doc-module .classInfo .mixins ul,
.doc-globalobj .classInfo .mixins ul {
  display: table-cell;
}

/* line 302 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .classInfo .superclasses li,
.doc-globalobj .classInfo .superclasses li,
.doc-module .classInfo .subclasses li,
.doc-globalobj .classInfo .subclasses li,
.doc-module .classInfo .mixins li,
.doc-globalobj .classInfo .mixins li {
  display: inline;
}

/* line 307 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 308 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .classInfo .superclasses li:before,
.doc-globalobj .classInfo .superclasses li:before {
  content: ' → ';
}

/* line 312 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .classInfo .superclasses li:first-child:before,
.doc-globalobj .classInfo .superclasses li:first-child:before {
  content: none;
}

/* line 317 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 319 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .classInfo .mixins li:after,
.doc-globalobj .classInfo .mixins li:after,
.doc-module .classInfo .subclasses li:after,
.doc-globalobj .classInfo .subclasses li:after {
  content: ', ';
}

/* line 323 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .classInfo .mixins li:last-child:after,
.doc-globalobj .classInfo .mixins li:last-child:after,
.doc-module .classInfo .subclasses li:last-child:after,
.doc-globalobj .classInfo .subclasses li:last-child:after {
  content: none;
}

/* line 329 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 330 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .summaryTable .source,
.doc-globalobj .summaryTable .source {
  white-space: nowrap;
  width: 0;
}

/* line 335 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .summaryTable .icon:before,
.doc-globalobj .summaryTable .icon:before {
  color: #777;
  font-size: 0.8em;
  font-weight: normal;
  padding-right: 0.5em;
}

/* line 342 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .summaryTable .name,
.doc-globalobj .summaryTable .name,
.doc-module .summaryTable .description,
.doc-globalobj .summaryTable .description {
  padding-left: 1.3em;
}

/* line 347 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .summaryTable .description .type-signature,
.doc-globalobj .summaryTable .description .type-signature {
  float: left;
  margin-right: 0.3em;
}

/* line 352 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .summaryTable .icons-1 .name,
.doc-globalobj .summaryTable .icons-1 .name {
  padding-left: 0;
}

/* line 357 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .signature-attributes,
.doc-globalobj .signature-attributes {
  font: italic 75% 'Open Sans', sans-serif;
}

/* line 360 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .signature-attributes:before,
.doc-globalobj .signature-attributes:before {
  content: '(';
}

/* line 364 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .signature-attributes:after,
.doc-globalobj .signature-attributes:after {
  content: ')';
}

/* line 369 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .code-caption,
.doc-globalobj .code-caption {
  font-style: italic;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 107%;
  margin: 0;
}

/* line 376 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 377 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .tag > .name,
.doc-globalobj .tag > .name {
  font-weight: bold;
  margin: 1em 0;
}

/* line 383 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .tag.tag-deprecated,
.doc-globalobj .tag.tag-deprecated,
.doc-module .tag.tag-source,
.doc-globalobj .tag.tag-source,
.doc-module .tag.tag-default,
.doc-globalobj .tag.tag-default {
  margin: 1.5em 0;
}

/* line 388 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .tag.tag-deprecated > *,
.doc-globalobj .tag.tag-deprecated > *,
.doc-module .tag.tag-source > *,
.doc-globalobj .tag.tag-source > *,
.doc-module .tag.tag-default > *,
.doc-globalobj .tag.tag-default > * {
  display: inline;
  margin: 0;
}

/* line 393 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .tag.tag-deprecated .name,
.doc-globalobj .tag.tag-deprecated .name,
.doc-module .tag.tag-source .name,
.doc-globalobj .tag.tag-source .name,
.doc-module .tag.tag-default .name,
.doc-globalobj .tag.tag-default .name {
  font: 100% 'Open Sans', sans-serif;
  font-weight: bold;
}

/* line 397 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .tag.tag-deprecated .name:after,
.doc-globalobj .tag.tag-deprecated .name:after,
.doc-module .tag.tag-source .name:after,
.doc-globalobj .tag.tag-source .name:after,
.doc-module .tag.tag-default .name:after,
.doc-globalobj .tag.tag-default .name:after {
  content: ': ';
}

/* line 403 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .tag.tag-source,
.doc-globalobj .tag.tag-source {
  font-size: 90%;
}

/* line 407 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .tag.tag-deprecated,
.doc-globalobj .tag.tag-deprecated {
  color: #900;
  font-weight: bold;
}

/* line 412 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */
.doc-module .tag.tag-returns ul,
.doc-globalobj .tag.tag-returns ul,
.doc-module .tag.tag-see ul,
.doc-globalobj .tag.tag-see ul {
  list-style: disc;
  margin-left: 2em;
}

/* line 419 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/content.styl */

/* line 419 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */

/* line 1 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index {
  margin: 1.5em;
}

/* line 9 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index h1,
.index h2,
.index h3,
.index h4,
.index h5,
.index h6 {
  color: #444;
  font-weight: 400;
  margin: 6px 0 9px 0;
}

/* line 15 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index h1 {
  font-family: 'Lora', serif;
  font-size: 190%;
}

/* line 20 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index h2 {
  font-family: 'Lora', serif;
  font-size: 165%;
  margin: 1em 0 0.7em;
}

/* line 26 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index h3 {
  font-family: 'Lora', serif;
  font-size: 150%;
}

/* line 31 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index h4 {
  font-size: 130%;
  margin-top: 16px;
}

/* line 36 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index h5 {
  font-size: 120%;
}

/* line 40 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index h6 {
  font-size: 100%;
  font-style: italic;
  margin: 6px 0 3px;
}

/* line 48 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index p,
.index ol,
.index ul {
  margin-bottom: 1.2em;
}

/* line 52 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index ul {
  list-style: disc;
  margin-left: 2em;
}

/* line 58 : /srv/devel/web/dojo2/jsdoc-theme/catalyst/static/styles/index.styl */
.index table,
.index .prettyprint {
  margin: 1.5em 0;
}
