.persistentTitle {
	background: lighten($headerBackground, 10%);
	color: #fff;
	font: 1.3em/$headerHeight $headingFonts;
	fixed: top left $navWidth;
	height: $headerHeight;
	opacity: 1;
	padding: 0 0 0 3em;
	padding-left: calc((3em/1.3) + 3px);
	transition: opacity 0.3s ease;
	right: 0;
	z-index: 1;

	&.hidden {
		opacity: 0;
	}

	a,
	a:hover {
		color: #fff;
		text-decoration: none;
	}
}

.mainContent {
	line-height: 1.6;

	$a($defaultLinkColor);

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	code {
		font-family: $codeFonts;
		font-size: 1.05em;
	}

	table {
		border-spacing: 0;
		border: 0;
		border-collapse: collapse;
		margin-bottom:1em;

		tbody .name,
		& code {
			$a($propNameColor);

			color: $propNameColor;
			font-family: $codeFonts;
			font-size: 100%;
			font-weight:600;
		}

		td,
		th  {
			border: 1px solid #ddd;
			margin: 0px;
			text-align: left;
			vertical-align: top;
			padding: 4px 6px;
			display: table-cell;

			.description {
				> p:first-child {
					margin-top: 0;
					padding-top: 0;
				}

				> p:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}

		th {
			border-right: 1px solid #aaa;
		}

		thead {
			tr {
				background-color: #ddd;
				font-weight: bold;
			}

			th:last-child,
			td:last-child {
				border-right: 1px solid #ddd;
			}

		}

		& & thead tr {
			background-color: #fff;
			font-weight: bold;
		}
	}

	.prettyprint {
		background: $subsectionHeadingBackground;
		border: 1px solid #ddd;
		margin: 0 0 1.5em 0;
		overflow: auto;
		padding: 4px 12px;
		tab-size: 2;

		&.linenums {
			padding-left: 4em;

			ol {
				list-style: decimal;
			}

			li {
				border-left: 3px #ddd solid;
				padding-left: 12px;

				&.selected,
				&.selected * {
				  background-color: lightyellow;
				}
			}
		}

		code {
			display: block;
			font-size: 1em;
			line-height: 1.4;
			margin: 0;

			span.line {
			  display: inline-block;
			}

			// ensures that empty lines do not collapse
			&:after {
				content: ' ';
			}
		}
	}
}

.doc-source {
	overflow: visible;

	.title {
		@extend .persistentTitle;
	}

	.prettyprint {
		absolute: top right bottom left;
		border: 0;
		margin: 0;
		overflow: auto;
	}
}

.doc-module,
.doc-globalobj {
	.header {
		font: 165% $headingFonts;
		margin-bottom: 1em;
	}

	.memberInfo {
		margin-left: 1em;
	}

	.description {
		p,
		ul,
		ol {
			margin: 1.5em 3em 1.5em 0;
		}

		ul,
		ol {
			margin-left: 2em;
		}

		ol {
			list-style: decimal;
		}

		ul {
			list-style: disc;
		}
	}

	.section {
		background: $sectionBackground;
		border: 3px solid darken($defaultBackgroundColor, 3%);
		padding: 1.5em;
		margin: 1.5em;

		> .description {
			margin: 1em 0 1.25em;
		}

		.type-signature {
			$a($signatureColor);

			color: $signatureColor;
		}

		.memberName {
			background: $subsectionHeadingBackground;
			border-left: 4px solid $subsectionHeadingBorderColor;
			color: $subsectionTitleColor;
			font-family: $codeFonts;
			font-size: 105%;
			font-weight: 600;
			margin: 2em 0 0;
			padding: 0.4em 0.6em;
		}

		&.overview .memberName {
			background: $overviewHeadingBackgroundColor;
			border-left-color: $overviewHeadingBorderColor;
			color: #fff;

			a {
				color: lighten($defaultLinkColor, 45%);
			}

			.type-signature {
				$a(lighten($signatureColor, 35%));

				color: lighten($signatureColor, 35%);
			}
		}

		&.events .memberName {
			border-left-color: $eventsColor;
		}

		&.methods .memberName {
			border-left-color: $methodsColor;
		}

		&.properties .memberName {
			border-left-color: $membersColor;
		}

		&.typedefs .memberName {
			border-left-color: $typedefsColor;
		}

		.param-type {
			$a($signatureColor);

			color: $signatureColor;
			font-family: $codeFonts;
			font-weight: 600;
			margin-left: 0;
		}
	}

	.summary {
		margin-top: 1.5em;

		.header {
			font-size: 130%;
		}

		table {
			width: 100%;
			margin-bottom: 0;
		}

		p {
			margin: 0;
		}
	}

	.classInfo {
		.superclasses,
		.subclasses,
		.mixins {
			display: table-row;

			h2 {
				display: table-cell;
				font-weight: bold;
				padding-right: 0.3em;

				&:after {
					content: ': ';
				}
			}

			ol,
			ul {
				display: table-cell;
			}

			li {
				display: inline;
			}
		}

		.superclasses li {
			&:before {
				content: ' → ';
			}

			&:first-child:before {
				content: none;
			}
		}

		.mixins li,
		.subclasses li {
			&:after {
				content: ', ';
			}

			&:last-child:after {
				content: none;
			}
		}
	}

	.summaryTable {
		.source {
			white-space: nowrap;
			width: 0;
		}

		.icon:before {
			color: #777;
			font-size: 0.8em;
			font-weight: normal;
			padding-right: 0.5em;
		}

		.name,
		.description {
			padding-left: 1.3em;
		}

		.description .type-signature {
			float: left;
			margin-right: 0.3em;
		}

		.icons-1 .name {
			padding-left: 0;
		}
	}

	.signature-attributes {
		font: italic 75% $defaultFonts;

		&:before {
			content: '(';
		}

		&:after {
			content: ')';
		}
	}

	.code-caption {
		font-style: italic;
		font-family: $codeCommentFonts;
		font-size: 107%;
		margin: 0;
	}

	.tag {
		> .name {
			font-weight: bold;
			margin: 1em 0;
		}


		&.tag-deprecated,
		&.tag-source,
		&.tag-default {
			margin: 1.5em 0;

			> * {
				display: inline;
				margin: 0;
			}

			.name {
				font: 100% $defaultFonts;
				font-weight: bold;

				&:after {
					content: ': ';
				}
			}
		}

		&.tag-source {
			font-size: 90%;
		}

		&.tag-deprecated {
			color: $deprecatedTextColor;
			font-weight: bold;
		}

		&.tag-returns ul,
		&.tag-see ul {
			list-style: disc;
			margin-left: 2em;
		}
	}
}
