@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700");
@import url("//fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700");
@import url("//fonts.googleapis.com/css?family=Lora:400,700");

@font-face {
	font-family: 'FontAwesome';
	src: url('fontawesome/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('fontawesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype');
	font-weight: normal;
	font-style: normal;
}
