.icon:before {
	font-family: FontAwesome;
}

.icon-inherited:before {
	content: "\f08e";
}

.icon-experimental:before {
	content: "\f0c3";
}

.icon-protected:before {
	content: "\f132";
}

.icon-deprecated:before {
	content: "\f088";
}
