.index {
	margin: 1.5em;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #444;
		font-weight: 400;
		margin: 6px 0 9px 0;
	}

	h1 {
		font-family: $headingFonts;
		font-size: 190%;
	}

	h2 {
		font-family: $headingFonts;
		font-size: 165%;
		margin: 1em 0 0.7em;
	}

	h3 {
		font-family: $headingFonts;
		font-size: 150%;
	}

	h4 {
		font-size: 130%;
		margin-top: 16px;
	}

	h5 {
		font-size: 120%;
	}

	h6 {
		font-size: 100%;
		font-style: italic;
		margin: 6px 0 3px;
	}

	p,
	ol,
	ul {
		margin-bottom: 1.2em;
	}

	ul {
		list-style: disc;
		margin-left: 2em;
	}

	table,
	.prettyprint {
		margin: 1.5em 0;
	}
}
